@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #7B2FBE;
  --primary-dark: #5e2392;
  --accent: #E5B319;
  --accent-light: #f0c84d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
